.busInfoContainor {
     /* background-color: cadetblue; */
     width: 100%;
     height: max-content;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* align-items: center; */
     padding: 1rem ;
     position: relative;

     h1 {
          text-align: center;
          font-size: 2.6rem;
     }

     .busInfoPanel {
          /* background-color: antiquewhite; */
          width: 100%;
          display: flex;
          margin-top: 2rem;
          border-radius: 0.6rem;
          overflow-x: auto;

          table {
               /* border: 1px solid rgb(212, 212, 212); */
               border-radius: 0.6rem;
               padding: 1rem 1rem;
               width: 100%;
               background-color: var(--tint-color);
               /* transition: 1.6s;
               position: relative;
               top: 1rem; */

          }

          table thead tr:first-child {
               background-color: var(--helper-color);

          }

          table thead tr th {
               font-size: 1.2rem;
               line-height: 150%;
               font-style: normal;
               padding: 0.2rem 0.2rem;
               border-radius: 0.6rem;
               font-weight: 500;
               color: var(--bg-color);
               text-wrap: nowrap;
               /* font-family: 'Poppins', sans-serif; */

          }

          table tbody tr td {
               padding: 0.6rem;
               font-size: 1.2rem;
               line-height: 150%;
               font-style: normal;
               text-align: center;
               text-wrap: nowrap;
               /* font-family: 'Poppins', sans-serif; */

          }
     }
}