.container {
     /* background-color: aquamarine; */
     width: 100%;
     height: max-content;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     position: relative;


     .welcomeContainer {
          /* background-color: aquamarine; */
          width: 100%;
          height: 50rem;
          position: relative;
          /* top: -5rem; */
          z-index: -1;
          display: flex;
          flex-direction: column;
          /* margin-bottom: 2rem; */


          .overlay {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background-color: rgba(0, 0, 0, 0.9);
               /* background-color: aqua; */

          }

          video {
               width: 100%;
               height: 100%;
               object-fit: cover;
          }


          .welcomeDisplay {
               /* background-color: blueviolet; */
               position: absolute;
               width: 100%;
               height: 100%;
               top: 0;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;


               h1 {
                    color: var(--htag1-color);
                    font-size: 1.8rem;
                    letter-spacing: 2px;
               }

               h2 {
                    color: var(--bg-color);
                    font-size: 4rem;
                    padding-top: 2rem;
                    font-weight: bolder;
                    letter-spacing: 2px;
               }

               h3 {
                    color: var(--btn-color);
                    font-size: 3rem;
                    letter-spacing: 1px;
               }


               .typeWriterSection {
                    /* background-color: brown; */
                    width: 100%;
                    height: max-content;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 0.4rem;

                    span {
                         color: var(--bg-color);
                         font-size: 1.4rem;
                         /* font-weight: 100; */
                         letter-spacing: 1px;
                         text-wrap: wrap;

                    }

                    .head_tags {
                         display: inline-block;
                         color: var(--htag1-color);
                         align-self: baseline;
                         font-size: 1.4rem;
                         font-weight: 800;
                         letter-spacing: 2px;
                    }

                    .cursor_tag {
                         display: inline;
                         color: var(--bg-color);
                         align-self: baseline;
                         font-size: 1.4rem;
                    }
               }

          }


     }

     .scrollIcon {
          /* background-color: aquamarine; */
          width: 100%;
          height: 2rem;
          position: absolute;
          bottom: 3rem;
     }

}



@media (width<=480px) {
     .container {

          .welcomeContainer {
               height: 30rem;

               .overlay {
                    background-color: rgba(0, 0, 0, 0.6);
               }

               .welcomeDisplay {
                    gap: 0.2rem;


                    h1 {
                         font-size: 1rem;
                         letter-spacing: 1px;
                    }

                    h2 {
                         font-size: 1.6rem;
                         padding-top: 1rem;
                         letter-spacing: 1px;
                    }

                    h3 {
                         font-size: 1.2rem;
                         letter-spacing: 2px;
                         font-weight: 800;
                    }

                    .typeWriterSection {
                         flex-direction: row;
                         flex-wrap: wrap;
                         width: 95%;

                         span {
                              font-size: 0.9rem;
                              text-wrap: wrap;

                         }

                         .head_tags {
                              font-size: 0.9rem;
                              letter-spacing: 1px;
                              /* position: relative;
                              top: -0.2px; */
                              align-self: baseline;
                              text-align: center;
                         }

                         .cursor_tag {
                              font-size: 0.9rem;
                              /* position: relative;
                              top: -0.2px; */
                              
                         }
                    }
               }
          }
     }
}

@media (width<=420px) {
     .container {

          .welcomeContainer {
               height: 30rem;

               .welcomeDisplay {
                    /* background-color: antiquewhite; */
                    gap: 0.4rem;


                    h1 {
                         font-size: 1rem;
                    }

                    h2 {
                         font-size: 1.4rem;
                         padding-top: 1rem;
                    }

                    h3 {
                         font-size: 1rem;
                         letter-spacing: 2px;
                    }
               }

               .scrollIcon {
                    /* background-color: aquamarine; */
                    height: 1.6rem;
                    bottom: 3rem;
               }

          }

     }
}